.phone {
    font-family: sans-serif; 
    font-size: 15px;
    font-weight: normal;
    position: relative;
    left:76rem;
    bottom: 110px;
}

.email {
    font-family: sans-serif; 
    font-size: 15px;
    font-weight: normal;
    position: relative;
    left:76rem;
    bottom: 110px;
}

.github {
    font-family: sans-serif; 
    font-size: 15px;
    font-weight: normal;
    position: relative;
    left:76rem;
    bottom: 110px;
}

.linkedin {
    font-family: sans-serif; 
    font-size: 15px;
    font-weight: normal;
    position: relative;
    left:76rem;
    bottom: 110px;
}


