.extra_title {
    font-family: sans-serif; 
    font-weight: bold;
    font-size: 25px;
    left: 51rem;
    position: relative;
    bottom: 75rem;
}

/*ppmk*/

.extra_head {
    font-family: sans-serif; 
    font-weight: bold;
    font-size: 20px;
    left: 51rem;
    position: relative;
    bottom: 74.5rem;
}

.extra_period {
    font-family: sans-serif; 
    font-weight: normal;
    font-size: 20px;
    left: 51rem;
    position: relative;
    bottom: 75rem;
}

.extra_list {
    font-family: sans-serif; 
    font-weight: normal;
    font-size: 18px;
    left: 49.5rem;
    position: relative;
    bottom: 75rem;
}

/*msfc*/

.extra_head2 {
    font-family: sans-serif; 
    font-weight: bold;
    font-size: 20px;
    left: 51rem;
    position: relative;
    bottom: 75rem;
}

.extra_period2 {
    font-family: sans-serif; 
    font-weight: normal;
    font-size: 20px;
    left: 51rem;
    position: relative;
    bottom: 75rem;
}

.extra_list2 {
    font-family: sans-serif; 
    font-weight: normal;
    font-size: 18px;
    left: 49.5rem;
    position: relative;
    bottom: 75rem;
}

/*alumni_kupsis*/

.extra_head3 {
    font-family: sans-serif; 
    font-weight: bold;
    font-size: 20px;
    left: 51rem;
    position: relative;
    bottom: 75rem;
}

.extra_period3 {
    font-family: sans-serif; 
    font-weight: normal;
    font-size: 20px;
    left: 51rem;
    position: relative;
    bottom: 75rem;
}

.extra_list3 {
    font-family: sans-serif; 
    font-weight: normal;
    font-size: 18px;
    left: 49.5rem;
    position: relative;
    bottom: 75rem;
}

/*teach in me programme*/

.extra_head4 {
    font-family: sans-serif; 
    font-weight: bold;
    font-size: 20px;
    left: 51rem;
    position: relative;
    bottom: 75rem;
}

.extra_period4 {
    font-family: sans-serif; 
    font-weight: normal;
    font-size: 20px;
    left: 51rem;
    position: relative;
    bottom: 75rem;
}

.extra_list4 {
    font-family: sans-serif; 
    font-weight: normal;
    font-size: 18px;
    left: 49.5rem;
    position: relative;
    bottom: 75rem;
}

/*volunteer*/

.extra_head5 {
    font-family: sans-serif; 
    font-weight: bold;
    font-size: 20px;
    left: 51rem;
    position: relative;
    bottom: 75rem;
}

.extra_period5 {
    font-family: sans-serif; 
    font-weight: normal;
    font-size: 20px;
    left: 51rem;
    position: relative;
    bottom: 75rem;
}

.extra_list5 {
    font-family: sans-serif; 
    font-weight: normal;
    font-size: 18px;
    left: 49.5rem;
    position: relative;
    bottom: 75rem;
}

