.work {
    font-family: sans-serif; 
    font-weight: bold;
    font-size: 25px;
    left: 51rem;
    top: -44.9rem;
    position: relative;
}

/*mida*/
.mida {
    font-family: sans-serif; 
    font-size: 20px;
    font-weight: bold;
    left: 51rem;
    top: -45rem;
    position: relative;
}

.period {
    font-family: sans-serif; 
    font-size: 15px;
    font-weight: normal;
    left: 86.3rem;
    top: -47.6rem;
    position: relative;
}

.pos {
    font-family: sans-serif; 
    font-size: 18px;
    font-weight: normal;
    left: 51rem;
    top: -49rem;
    position: relative;
}

.desc {
    font-family: sans-serif; 
    font-size: 18px;
    font-weight: normal;
    left: 49.5rem;
    top: -50rem;
    position: relative;
}

/*lurima*/

.lurima {
    font-family: sans-serif; 
    font-size: 20px;
    font-weight: bold;
    left: 51rem;
    top: -50.5rem;
    position: relative;
}

.period2 {
    font-family: sans-serif; 
    font-size: 15px;
    font-weight: normal;
    left: 86.3rem;
    top: -52.2rem;
    position: relative;
}

.pos2 {
    font-family: sans-serif; 
    font-size: 18px;
    font-weight: normal;
    left: 51rem;
    top: -53.5rem;
    position: relative;
}

.desc2 {
    font-family: sans-serif; 
    font-size: 18px;
    font-weight: normal;
    left: 49.5rem;
    top: -54rem;
    position: relative;
}

/*hanjin shipping*/

.hanjin {
    font-family: sans-serif; 
    font-size: 20px;
    font-weight: bold;
    left: 51rem;
    top: -54.5rem;
    position: relative;
}

.period3 {
    font-family: sans-serif; 
    font-size: 15px;
    font-weight: normal;
    left: 86.3rem;
    top: -56.5rem;
    position: relative;
}

.pos3 {
    font-family: sans-serif; 
    font-size: 18px;
    font-weight: normal;
    left: 51rem;
    top: -57.5rem;
    position: relative;
}

.desc3 {
    font-family: sans-serif; 
    font-size: 18px;
    font-weight: normal;
    left: 49.5rem;
    top: -57.8rem;
    position: relative;
}

/*restaurant*/

.restaurant {
    font-family: sans-serif; 
    font-size: 20px;
    font-weight: bold;
    left: 51rem;
    top: -58.3rem;
    position: relative;
}

.period4 {
    font-family: sans-serif; 
    font-size: 15px;
    font-weight: normal;
    left: 86.3rem;
    top: -60.5rem;
    position: relative;
}

.pos4 {
    font-family: sans-serif; 
    font-size: 18px;
    font-weight: normal;
    left: 51rem;
    top: -61.9rem;
    position: relative;
}

.desc4 {
    font-family: sans-serif; 
    font-size: 18px;
    font-weight: normal;
    left: 49.5rem;
    top: -62rem;
    position: relative;
}




